* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #269;
  background-image:
    linear-gradient(rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.wrapper{
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.current-time {
  width: 100%;
  height: 80%;
  margin-top: 10%;
  font-size: 180px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.prev-counter {
  display: block;
  bottom: 0;
  right: 0;
  background: #FFF;
  padding: 20px;
  color: #000;
  margin: 1px;
}
.header,
.footer,
.main {
  display: block;
  width: 100%;  
}
.header, .footer {
  background:#fff;
  margin: 10px 0;
  padding: 20px;
}

/* GO button start */
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button:hover {
  color: #fff;
}

.button:hover:before {
  width: 100%;
}
/* / GO button end */



  .btn-wrapper {
    text-align: center;
  }